torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
numpy==1.26
networkx==3.2.1
pytorch-lightning
pyrender
opencv-python
yacs
scikit-image
einops
timm
dill
pandas
rich
hydra-core
hydra-submitit-launcher
hydra-colorlog
pyrootutils
webdataset
chump
roma
joblib
seaborn
wandb
appdirs
appnope
ffmpeg
cython
jsonlines
pytest
xtcocotools
loguru
optree
fvcore
black
pycocotools
tensorboard
huggingface_hub
openai
ninja
